nav {
  border-bottom: 5px solid #DEB887;
  /* background: #DEB887; */

  font-size: 17px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  letter-spacing: 2px;
}

.bg-change {
  background: #DEB887;
  transition: background 0.7s ease-in-out;
}

nav .container-fluid {
  margin-left: 6%;
}

nav .cd-signin,
nav .cd-signup {
  padding: 0.6em 1em;
  border: 2px solid #DEB887;
  background: #2f889a;
  border-radius: 50em;
  /* margin-right: 1%; */
  font-weight: normal;
  color: white;
  transition: background 0.7s ease-in-out, color 0.6s ease-in-out;
}

nav .cd-signin:hover,
nav .cd-signup:hover {
  border: 2px solid #000000;
  color: #000000;
  background: none;
  transition: background 0.7s ease-in-out, color 0.6s ease-in-out;
}

.nav-link-underline,
.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* .authenticate{
  background-image: url('./dependecies/images/antique-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */
body[makeback="yes"]{
  background-image: url('./dependecies/images/antique-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.authenticate a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;

}

.authenticate a:hover {
  color: #1ab188;
}

.form {
  background: #13232f;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px #13232f;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.authenticate li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgb(148, 172, 168, .25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;

}

.authenticate li:hover {
  background: #1ab188;
  color: white;
}

.authenticate .active a {
  background: #1ab188;
  color: white;
}

.tab-content>div:last-child {
  display: none;
}

.authenticate h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0 0 40px;
}

.authenticate label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgb(255, 255, 255, .5);
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 22px;

}

.authenticate label .req {
  margin: 2px;
  color: #1ab188;
}

.authenticate label.active{
  transform: translateY(-25px);
  left: 2px;
  font-size: 14px;
}

.authenticate label.active .req {
  opacity: 0;
}

.authenticate label.highlight {
  color: white;
}

.authenticate input,
.authenticate textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: white;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;

}

.authenticate input:focus,
.authenticate textarea {
  outline: 0;
  border-color: #1ab188;
}

.authenticate textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row>div {



  float: left;
  width: 48%;
  margin-right: 4%;


}

.top-row>div:last-child {
  margin: 0;
}

.top-row::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: white;
  transition: all.5s ease;
  /* -webkit-appearance: none; */

}

.button:hover,
.button:focus {
  background: #1ab188;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
