nav {
  border-bottom: 5px solid #DEB887;
  /* background: #DEB887; */

  font-size: 17px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  letter-spacing: 2px;
  
}

.bg-change {
  background: #DEB887;
  transition: background 0.7s ease-in-out;
}

nav .container-fluid {
  margin-left: 6%;
}

nav .cd-signin,
nav .cd-signup {
  padding: 0.6em 1em;
  border: 2px solid #DEB887;
  background: #2f889a;
  border-radius: 50em;
  /* margin-right: 1%; */
  font-weight: normal;
  color: white;
  transition: background 0.7s ease-in-out, color 0.6s ease-in-out;
}

nav .cd-signin:hover,
nav .cd-signup:hover {
  border: 2px solid #000000;
  color: #000000;
  background: none;
  transition: background 0.7s ease-in-out, color 0.6s ease-in-out;
}

.nav-link-underline,
.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* .authenticate{
  background-image: url('./dependecies/images/antique-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */
body[makeback="yes"]{
  background-image: url('./dependecies/images/antique-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.authenticate a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;

}

.authenticate a:hover {
  color: #1ab188;
}

.form {
  background: #13232f;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px #13232f;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.authenticate li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgb(148, 172, 168, .25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;

}

.authenticate li:hover {
  background: #1ab188;
  color: white;
}

.authenticate .active a {
  background: #1ab188;
  color: white;
}

.tab-content>div:last-child {
  display: none;
}

.authenticate h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0 0 40px;
}

.authenticate label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgb(255, 255, 255, .5);
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 22px;

}

.authenticate label .req {
  margin: 2px;
  color: #1ab188;
}

.authenticate label.active{
  transform: translateY(-25px);
  left: 2px;
  font-size: 14px;
}

.authenticate label.active .req {
  opacity: 0;
}

.authenticate label.highlight {
  color: white;
}

.authenticate input,
.authenticate textarea, .authenticate .select{
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: white;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;

}

.authenticate input:focus,
.authenticate textarea, .authenticate .select:focus{
  outline: 0;
  border-color: #1ab188;
}

.authenticate .select option{
  background: #1ab188;
}
.authenticate textarea, .authenticate .select {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.field-wrap2 {
  display: flex;
  flex-direction: column;
}

.with-label {
  margin-bottom: 1.5em; /* Ajustez selon votre mise en page */
}

.with-label label {
  margin-bottom: 0.5em; /* Ajustez selon votre mise en page */
}

.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 0.5em; /* Ajustez selon votre mise en page */
  box-sizing: border-box;
}


.top-row>div {



  float: left;
  width: 48%;
  margin-right: 4%;


}

.top-row>div:last-child {
  margin: 0;
}

.top-row::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: white;
  transition: all.5s ease;
  /* -webkit-appearance: none; */

}

.button:hover,
.button:focus {
  background: #1ab188;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/* Home */
h1 {
  padding-top: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  align-items: center;
}

.SubTitreHome {
  font-size: 20px;
  font-family: 'Georgia', serif;
  align-items: center;
  color: #DEB887;
}

.colr {
  color: #DEB887;
}

.image-carousel2 {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.image-carousel2.active {
  border-color: #DEB887; /* Highlight the active image */
}

.flex2 {
  padding: 40px 20px;
  background-color: rgb(244, 247, 249);
}
/* Responsive Styles */
@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 10px;
  }

  .image-carousel2 {
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 820px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 8px;
  }

  .image-carousel2 {
    width: 80px;
    height: 80px;
  }
  .image-carousel {
    width: 200px;
    height: 200px;
  }
}
.Titre1{
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  text-align: center;
}

.avis{
  background-image: url('./dependecies/images/antique-1.jpg');
}

.davis{
  color: white;
  text-align: center;
}

.Titre2{
  padding-top: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  text-align: center;
  color: white;
}
.avis-container {
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 8px; /* Coins arrondis */
  padding: 15px;
  margin: 10px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  background-color: #fff;
  transition: transform 0.3s ease-in-out; /* Effet de transition lors du survol */
}

.avis-container:hover {
  transform: scale(1.02); /* Effet d'agrandissement au survol */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px; /* Ajustez la taille de l'image */
  height: 40px;
  border-radius: 50%; /* Rendre l'image ronde */
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.avis-texte {
  margin-top: 10px;
  font-style: italic;
}




/*Card component*/
.cadre {
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  max-height: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
  transition: box-shadow 0.3s ease; /* Transition pour l'effet hover */
}

.cadre:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Changement de l'ombre au survol */
}

.cadre-image {
  width: 100%;
  height: 200px;
}

.cadre-content {
  padding: 20px;
}

.cadre-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cadre-prix {
  color: green;
  /*color: #DEB887;*/
}

.cadre-temps {
  color: blue;
  /*color: #13232f;*/
}





/*cadre Infos */
.nouveau-cadre-avec-image {
  display: flex;
}

.cadre-image2 {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin: 20px; /* Ajoute un espace entre l'image et le cadre */
}

.nouveau-cadre {
  display: flex;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  max-width: 600px;
  margin: 20px auto;
}

.nouveau-cadre-gris {
  background-color: #f0f0f0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cadre-titre {
  
  inset: 0px 0px auto;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cadre-titre h2 {
  margin: 0;
}

.nouveau-cadre-blanc {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  flex: 1;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
}

.nouveau-cadre-contenu {
  text-align: center;
  color: gray;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: small;
}
.petit{
  margin: 13px;
}
.bgBlanc{
  background-color: #fff;
}
.bb{
  color: black;
}

.textCentrer{
  text-align: center;
  font-size: larger;
}

.nouveau-cadre-boutons {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Met les boutons l'un en dessous de l'autre */
  align-items: center; /* Centre les boutons horizontalement */
}
.nouveau-cadre-boutons button{
  width: 200px;
}

.nouveau-cadre-info {
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
}

.nouveau-cadre-prix {
  color: green;
}

.nouveau-cadre-temps {
  color: blue;
}



/*tableau vendeur*/
/* Ajoutez ces styles à votre fichier CSS ou utilisez des styles en ligne dans React */

.seller-article-table-container {
  text-align: center;
}

.seller-article-table {
  width: 100%;
  /* Ajoutez d'autres styles si nécessaire */
}

/* Styles pour les boutons */

.delete-button,
.edit-button {
  margin: 0 8px; /* Espace entre les boutons */
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.delete-button {
  color: red;
  background-color: transparent;
}

.edit-button {
  color: #2f889a;
  background-color: transparent;
}


.seller-article-table-container {
  margin: 20px;
}

.seller-article-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.seller-article-table th, .seller-article-table td {
  border: 1px solid #DEB887;
  padding: 8px;
  text-align: left;
}

.seller-article-table th {
  background-color: #DEB887;
}


